div(ng-controller="navController" col-md-12 )
  .col-md-6
    img(src='./img/logo-2.png' class='toplogo rowHeight ')
  .col-md-6
    ul(class="nav nav-tabs ")
      li(ng-repeat='tab in tabs' ng-show='showMenue(tab)' active='{{tab.active}}')
        a(data-toggle="tab" ui-sref='{{tab.route}}') {{tab.heading}}

    
        

