body{
  background-color:#264d00;
  
  //padding:1%;
 font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  color: white;
}
//input{
  //background-color:silver;
//  border:1px solid black;
//  width:360px;
//  height:35px;
//}
h1,h2,input{
  color:white
}
.white{
  color:white;
}
h2:hover{
  color:powderblue;
}
.Panelmargin{
 // margin-top: 3%;
  margin-left:28%;
  margin-right: 28%;
}
.rowHeight{
  padding-top: 1%;
  padding-bottom: 1%;

}
.paddingLeftDiv{
  padding-left:2% !important;
}
.paddingRightDiv{
  padding-right: 2% !important;
}
.floatRight{
  float:right;
}
.PaddingRightControl{
  padding-right:0px;
}
.paddingLeftControl{
  padding-left:2%;
}
.widthControl{
  width:95%;
}
.panelSize{
  width: 40%;
  height: 70%;
}
.nav li a{
  color:white;
  height: 100%;
  vertical-align:middle !important;
  font-size:25px;
}
.nav li a:hover,.nav li a:focus{
  background-color:#ff6600 !important;
}

.nav-tabs>li>a:hover{
  border-color:#ff6600;
}
.nav-tabs{
 // border-bottom:3px solid #7a239e;
 border-bottom:0px !important;
}
.title{
  color:white;
  font-size:20px;
  font-weight:bold;
}
.detail{
  color:darkgray;
  font-size:18px;
  font-weight:bold;
}
.borderdashed{
  border-color: white;
  border-style: dashed;
}
.detail a:hover, .detail a:focus{
  text-decoration:none !important;
  color:#337ab7;
}
.detail a{
  color: #ff6600;
}
.blogBody{
  background-color:white;
  color:black;
  width:90%;
  height:150px;
}
.commentBody{
  background-color:white;
  color:black;
  width:95%;
  height:125px;
}
.noDisplay{
  display: none;
}
.display{
  display: inherit;
}
.regbtn:hover,.regbtn:focus{
  background-color:#ff6600;
  color:white;
}
.regbtn{
  color:white;
  background-color:#353535;
}
.paddingAll{
  padding:1%;
}
.marginVert{
  margin-top:1%;
  margin-bottom:1%;
}
.marginAll{
  margin:1%;
}
.marginHorizent{
   margin-right:1%;
   margin-left:1%;
}
.borderDetail{
  border-style: dashed;
  border-color: black;
}
.borderdashedDetail{
  border-color: black;
  border-style: dashed;
}
.borderBottomDetail{
  border-bottom-style: dashed;
  border-bottom-color: white;
  border-bottom-width: 1%;
}
.footerDiv{
  height: 130px;
  background-color:black;
}
.navDiv{
  background-color:black;
  height: 70px;
}
.contentDiv{
  height:85%;
  background-color:#264d00;
  margin-top:1%;
}
.toplogo{
  width:70px;
  height:60px;
}
.footerLogo{
  padding-left: 12%;
}
.panel-primary>.panel-heading {
  color: #fff;
  background-color: #353535 !important;
  border-color: #353535 !important;
}
.panel-primary {
      border-color: #353535 !important;
    }
.backVideo{
  background:url("../../img/video.jpg") no-repeat;
  background-size:100% 100%;
  width:100%;
  height:90%;
  padding-left:0px !important;
  margin-top:0px !important;

}
@keyframes fadein {
  0% { opacity: 0; }
  25%  { opacity: 25; }
  50% { opacity: 50; }
  75% { opacity: 75; }
  100%  { opacity: 100; }
        }
.homeLogo{
 -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 5s; /* Firefox < 16 */
                -ms-animation: fadein 5s; /* Internet Explorer */
                         -o-animation: fadein 5s; /* Opera < 12.1 */
                                     animation: fadein 5s;
padding-left: 12%;
    width: 70%;
        height: 40%;
            margin-left: 15%;
                margin-top: 20%;
                                   }



.validate input.ng-valid ,.validate textarea.ng-valid , .validate select.ng-valid{
  background-color : #66ff33 !important;
}
input.ng-pristine,textarea.ng-pristine,select.ng-pristine{
  background-color :white;
}
input.ng-dirty,textarea.ng-dirty, select.ng-dirty{
  background-color:#ffccff;
}
select, input[type="text"],input[type="password"]{
  width: 300px;
  height: 30px;
  color:black;
  background-color:white;
}
select.option, select{
  padding-left: 12%;
}
textarea{
  width: 300px;
  height: 80px;
  color:black;
   background-color:white;

}
.modalBox{
  color: black;
  padding: 2%;
  text-align: center;
}
.HorizontGroup label{
  display: inline-block;
  margin:0  1.2em;
}
.HorizontGroup label  input[type="radio"] input[type="checkbox"]{
  margin:0 1em  ;
}
.error{
  background-color: white;
  color: red;
  font-size:14px;
  font-weight:bold;
}
.textwhite{
  color:black;
}
.middleTitle{
  margin-left: 30%;
  color:#ff6600;
  font-size:16px;
  font-weight:bold;
}
