doctype html
html(ng-app='myApp')
  head
    title hello world
    script(src='./helpers/jquery.min.js')
    script(src='./helpers/angular.min.js')
    script(src='./helpers/angular-ui-router.min.js')
    script(src='./helpers/ocLazyLoad.min.js')
    script(src='./helpers/app.js')
    //script(src='./helpers/controller.js')
    //link(href='./helpers/styleSheet.css',rel='stylesheet')
   body
     div(ui-view=' ')


